<form class="mt-5 mb-5">
  <div class="mx-5 mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-complete-search"
        type="text"
        class="form-control"
        name="searchTerm"
        [(ngModel)]="service.searchTerm"
      />
    </div>
    @if (service.loading$ | async) {
    <span class="col col-form-label">Loading...</span>
    }
  </div>

  <table class="table table-striped mx-5">
    <thead>
    <tr>
<!--      <th scope="col">#</th>-->
      <th scope="col" sortable="name" (sort)="onSort($event)">Project Name</th>
      <th scope="col" sortable="required" (sort)="onSort($event)">Total Need</th>
      <th scope="col" sortable="need" (sort)="onSort($event)">Remaining Need</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @for (project of projects$ | async; track project.id) {
    <tr (click)="rowClicked(project.id)" class="clickable">
<!--      <th scope="row">{{ project.id }}</th>-->
      <td>
        <ngb-highlight [result]="project.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="project.required | number" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="project.need | number" [term]="service.searchTerm"></ngb-highlight></td>
      <th scope="row">
        <button class="btn btn-primary" type="submit" (click)="register(project.id)" [disabled]="project.need <= 0">Register</button>
      </th>
    </tr>
    } @empty {
    <tr>
      <td colspan="4" style="text-align: center">No projects found</td>
    </tr>
    }
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="25">25 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="100">100 items per page</option>
    </select>
  </div>
</form>
