*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

webapp/node_modules
webapp/build
webapp/npm-debug.log*
/.idea/dataSources.xml
/.idea/sqldialects.xml
server/.env
server/public.key
infra/packer/playbook/files/.env
infra/packer/playbook/files/public.key
infra/packer/playbook/files/deploy.key
.terraform*
terraform.tfstate*
*.tfvars
webapp/.vscode
webapp/.env
.replit
