*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

webapp/node_modules
webapp/build
webapp/npm-debug.log*
/.idea/dataSources.xml
/.idea/sqldialects.xml
server/.env
server/google_creds.json
server/token.json

