
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;

  h1 {
    font-size: 64px;
    line-height: 1.38;
    font-stretch: 100%;
    margin-bottom: 10px;
    word-break: break-word;
    font-weight: bold;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 60px;
  text-align: left;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.serve-image {
  img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}

.make-difference {
  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--journeyDarkBlue);
    margin: 20px 20px 0 0;
  }
}

.cta-buttons {
  margin-top: 30px;

  button {
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: var(--journeyDarkBlue);

    mat-icon {
      margin-right: 8px;
    }
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.flex-container img {
  width: auto; /* same size for all images */
  max-width: 400px;
  height: auto;
}
.flex-container img:first-child {
  padding-right: 10px; /* padding against inside image */
}
.flex-container img:last-child {
  padding-left: 10px; /* padding against inside image */
}
.flex-container img:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}
