.journey-title {
  text-align: center;
  color: var(--journeyBlue);
  font-weight: 800;
  text-transform: capitalize;
}

h2 {
  text-align: center;
  color: var(--journeyBlue);
  font-weight: 800;
  text-transform: capitalize;
}
