<h2 class="journey-title" mat-dialog-title>{{data.name}}</h2>
<mat-dialog-content class="container mt-3">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="row">
      <div class="col-6">
        <label for="first_name">First Name: </label>
      </div>
      <div class="col-6 text-end">
        <input id="first_name" type="text" formControlName="first_name">
          <div class="form-error" *ngIf="registerForm.get('first_name')?.invalid && (registerForm.get('first_name')?.dirty)">
            <small *ngIf="registerForm.get('first_name')?.errors?.['required']">First name is required.</small>
            <small *ngIf="registerForm.get('first_name')?.errors?.['min']">First name must be a min of 4 characters</small>
          </div>
      </div>
      <div class="w-100"></div>
      <div class="col-6">
        <label for="last_name">Last Name: </label>
      </div>
      <div class="col-6 text-end">
        <input id="last_name" type="text" formControlName="last_name">
        <div class="form-error" *ngIf="registerForm.get('last_name')?.invalid && (registerForm.get('last_name')?.dirty)">
          <small *ngIf="registerForm.get('last_name')?.errors?.['required']">Last name is required.</small>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-6">
        <label for="registering"># To Register: </label>
      </div>
      <div class="col-6 text-end">
        <input id="registering" type="number" formControlName="registering">
        <div class="form-error" *ngIf="registerForm.get('registering')?.invalid && (registerForm.get('registering')?.dirty)">
          <small *ngIf="registerForm.get('registering')?.errors?.['required']">Number to register is required.</small>
          <small *ngIf="registerForm.get('registering')?.errors?.['max']">Registrants cannot exceed {{data.needed}}.</small>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-6">
        <label for="phone">Phone Number: </label>
      </div>
      <div class="col-6 text-end">
        <input id="phone" type="tel" formControlName="phoneNumber" placeholder="123-45-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        <div class="form-error" *ngIf="registerForm.get('phoneNumber')?.invalid && (registerForm.get('phoneNumber')?.dirty)">
          <small *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">Phone number is required.</small>
          <small *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">Phone number must be in XXX-XXX-XXXX format.</small>
        </div>
      </div>
    <div class="w-100"></div>
    <div class="col-6 mt-2">
      <label for="ld">Are You Willing To Be A Project Lead? </label>
    </div>
    <div class="col-6 text-center mt-2">
      <input id="ld" type="checkbox" formControlName="lead">
      <div class="form-error" *ngIf="registerForm.get('lead')?.invalid">
        <small>lead is invalid.</small>
      </div>
    </div>
  </div>
    <p class="mt-3 text-end">Complete the form to enable button.</p>
    <div class="d-flex flex-row-reverse mt-3">
      <button type="submit" [disabled]="!registerForm.valid" [matDialogClose]="registerForm">Submit</button>
      <button class="mx-4" type="button" matDialogClose> Cancel</button>
    </div>
  </form>
</mat-dialog-content>
