@if (serve_day) {
<mat-toolbar color="primary">
  <div class="container">
    <a mat-button routerLink="/" class="brand">
      <span>Journey Serve Day | {{serve_day | date : "MMMM d"}}</span>
    </a>

    <span class="flex-spacer"></span>

    <div class="nav-links">
      <!-- Always visible links -->
      <a
        mat-button
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>home</mat-icon>
        <span>Serve Day Home</span>
      </a>

        <a mat-button routerLink="/projects" routerLinkActive="active">
          <mat-icon>view_list</mat-icon>
          <span>Projects</span>
        </a>

      <!-- Authenticated user links -->
        @if (isAuthenticated$ | async) {
        <a mat-button routerLink="/profile" routerLinkActive="active">
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </a>

        <!-- Admin links -->
        @if (isAdmin | async) {
          <a mat-button routerLink="/admin" routerLinkActive="active">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Admin</span>
          </a>
        }

          <a mat-button href="#" (click)="logout(); $event.preventDefault()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
          </a>
      }

      <!-- Auth buttons -->
        @if (!(isAuthenticated$ | async)) {
            <button mat-button (click)="login()">
                <mat-icon>login</mat-icon>
                <span>Login</span>
            </button>
        }
    </div>


  </div>
</mat-toolbar>
}
