<!-- google-maps-demo.component.html -->
<google-map
  *ngIf="markers.length > 0"
  height="400px"
  width="750px"
  [options] = "options"
  (mapClick)="moveMap($event)"
  (mapMousemove)="move($event)">

    @for (m of markers; track m.marker?.position) {
  <map-advanced-marker
    #marker="mapAdvancedMarker"
    [position]="m.marker?.position"
    (mapClick)="openInfoWindow(marker, m)"
  ></map-advanced-marker>
    }
  <map-info-window>
    <h4>{{ selectedMarker?.info }}</h4>
    <p>{{ selectedMarker?.marker.position.lat }}</p>

  </map-info-window>
</google-map>
