<div class="row" *ngIf="location && project && leader">
  <div class="card col-6">
    <div class="card-header mb-3">
      <h4><b>{{ project.name}}</b></h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5>Leader:</h5>
        <p>{{ leader.first | titlecase}} {{ leader.last | titlecase}} | <a href={{leadermailto}}>{{ leader.email}}</a> | {{ leader.cellphone }} </p>
        </li>
      <li class="list-group-item">
        <h5>Location:</h5>
        <p><a target="_blank" href={{directionURL}}>{{ location.formatted_address }}</a></p>
       </li>
      <li class="list-group-item">
        <h5>Description:</h5>
        <p>{{ project.long_description}}</p>
      </li>
      <li class="list-group-item">
        <h5>Time:</h5>
        <p><b>Start: </b>{{ project.start_time}} <b>End: </b> {{ project.end_time}}</p> </li>
      <li class="list-group-item">
        <h5>Volunteers Needed:</h5>
        <p>{{ project.needed }} / {{ project.required}}</p>
      </li>
      <li class="list-group-item">
        <h5>Skills Needed:</h5>
        <p>{{ project.name}}</p>
      </li>
      <li class="list-group-item">
        <h5>Tools Needed:</h5>
        <p>{{ project.name}}</p>
      </li>
      <li class="list-group-item">
        <h5>Wheelchair Accessible:</h5>
        <p>{{ project.wheelchair}}</p>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <app-map [locations]="locations" [projects]="projects" [events]="eventsSubject.asObservable()"></app-map>
  </div>
</div>
