input {
  width: 100%;
  height: 100%;
  border: transparent;
}

textarea {
  width: 100%;
  height: 150px;
  border: transparent;

}

.move-left {
  width: auto;
  box-shadow: none;
}

select {
  border: transparent;
}
