
<div class="registration-container">
  <mat-card>
    <mat-card-content>
      @if (project) {
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <h2>Register for: {{ project.title }}</h2>

          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email" required>
              @if (registrationForm.get('email')?.hasError('email')) {
                <mat-error>Please enter a valid email</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="first_name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="last_name" required>
            </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Number of Guests</mat-label>
                  <input matInput type="number" formControlName="guest_count" min="0" [max]="project.max_capacity-project.current_registrations-1">
                  <mat-hint>Enter the number of guests (not including yourself) you'll bring (0-10)</mat-hint>
                  <mat-error *ngIf="registrationForm.get('guest_count')?.hasError('max')">
                      # of volunteers is greater than capacity
                  </mat-error>
              </mat-form-field>

              <div class="phone-container mt-2">
            <mat-form-field appearance="outline" class="no-bottom shrink-space">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phone" mask="000-000-0000">
            </mat-form-field>
              <mat-checkbox formControlName="text_permission">
                  Receive text message notifications?
              </mat-checkbox>
              </div>


            <div class="lead-section">
              <p class="lead-description">
                  Project leads help coordinate activities and may receive additional
                  instructions before the project starts. Check the box below if you
                  are interested.
              </p>
              <mat-checkbox formControlName="lead_interest">
                Yes, I'd like to be a Project Lead
              </mat-checkbox>
            </div>
          </div>

<!--            <re-captcha formControlName="recaptcha" siteKey="6LenBEkrAAAAAPkY8NrGgbPq1NS7PKxfxUU6ijc9"></re-captcha>-->

          <div class="button-row">
            <button mat-button type="button" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" type="submit">Register</button>
          </div>
        </form>
      }
    </mat-card-content>
  </mat-card>
</div>
