<h2 mat-dialog-title>Edit Guest Count</h2>
<div class="mt-1"></div>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Number of Guests</mat-label>
      <input matInput type="number"
             formControlName="guest_count"
             min="0"
             [max]="data.project.max_capacity-data.project.current_registrations + data.registration.guest_count"
      >
      <mat-error *ngIf="form.get('guest_count')?.hasError('min')">
        Guest count cannot be negative
      </mat-error>
    </mat-form-field>
  </form>
    <p>MaxCap: {{ data.project.max_capacity}}</p>
    <p>Current: {{ data.project.current_registrations}}</p>

    <p>GuestCount: {{ data.registration.guest_count}}</p>

    <p>Available Guests to Register: {{ data.project.max_capacity-data.project.current_registrations + data.registration.guest_count}}</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">
    Save
  </button>
</mat-dialog-actions>
