<!--<div style="color: #676767">-->
<!--  <div style="color: black">-->
<header>
  <div class="flex-container">
    <div></div>
    <div style="align-self: center"></div>
    <div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="assets/logowhite.png" alt="image">
      <h1>{{title | uppercase}}</h1>
      <div ngbDropdown>
        <button class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
          Dropdown
        </button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Action 1</button>
          <button ngbDropdownItem>Action 2</button>
        </div>
      </div>
    </div>
  </nav>


</header>
