<!--<div style="color: #676767">-->
<!--  <div style="color: black">-->
<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #676767;">
    <div class="container-fluid">
      <img src="assets/logowhite.png" alt="image">
      <h1>{{title | uppercase}}</h1>
      <div ngbDropdown>
        <button class="btn btn-light dropdown-toggle dropdowncolor" ngbDropdownToggle>
          Dropdown
        </button>
        <div ngbDropdownMenu class="menudrop">
          <button ngbDropdownItem>
            <a routerLink="/">My Info</a>
          </button>
          <button ngbDropdownItem>
            <a routerLink="/admin">Admin</a>
          </button>
          <button ngbDropdownItem>
            <a routerLink="/projects">My Projects</a>
          </button>
        </div>
      </div>
    </div>
  </nav>


</header>
