img {
  width:200px;
}

header {
  background-color: var(--journeyGray);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menudrop {
  background-color: white;
  width:auto;
  padding:20px;
}

.dropdowncolor {
  color: var(--journeyGray);
}

a:link {
  color: var(--journeyGray);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--journeyGray);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--journeyGray);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--journeyGray);
  background-color: transparent;
  text-decoration: underline;
}

.dropbtn {
  color: white !important;
  background-color: transparent;

}
